.hero_container {
    display: block;
  height: 700px;
  position: relative;
  padding-left: 310px;
  padding-right: 80px;
}
.h1text {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 150px;
  max-width: 580px;
}
.h1text h1 {
  color: #2f8ba1;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
}

.img_container {
  position: absolute;
  bottom: 25%;
  left: 40%;
  z-index: -2;
  background-image: linear-gradient(to right, white 5%, transparent);
}

.img_container img {
  width: 1300px;
}

.img_gradient {
  height: 100%;
  width: 60%;
  position: absolute;
  bottom: 20%;
  z-index: -1;
  background-image: linear-gradient(to right, white 45%, transparent);
}

.chatbubble {
  position: absolute;
  height: 150px;
  width: 400px;
  background-color: #aebc43;
  border-radius: 14px;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr, 3fr;
  justify-content: space-around;
  align-items: center;
  right: 15%;
  bottom: 15%;
}
.chatbubble h1 {
  color: #ec9455;
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-style: italic;
}
.chatbubble h3 {
  font-style: italic;
}

.text_container {
  grid-column: 1;
}
.text_container2 {
  grid-column: 2;
  align-items: center;
  justify-content: center;
}

.btn_hero {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #ec9455;
    color: white;
    border: none;
    margin-top: 20px;
}

@media screen and (max-width: 2100px) {
  .hero_container {
    padding-left: 260px;
  }
}

@media screen and (max-width: 1920px) {
    .hero_container {
      padding-left: 250px;
    }
}

@media screen and (max-width: 1600px){
  .hero_container {
    padding-left: 200px;
  }
}

@media screen and (max-width: 1366px) {
  .hero_container {
    padding-left: 160px;
  }
  .chatbubble {
    bottom: 160px;
  }
  .img_container {
    left: 20%;
  }
  .img_gradient {
    background-image: linear-gradient(to right, white 20%, transparent);
  }
}